record(ao, "IRFEL:BD:$(BPM):X") {
  field(VAL, "0.0")
  field(DRVL, "-10.0")
  field(DRVH, "10.0")
  field(PINI, "YES")
}
record(ao, "IRFEL:BD:$(BPM):Y") {
  field(VAL, "0.0")
  field(DRVL, "-10.0")
  field(DRVH, "10.0")
  field(PINI, "YES")
}
