record(ao, "IRFEL:PS:$(COR):current:ao") {
  field(VAL , "0.0")
  field(DRVL, "-10.0")
  field(DRVH, "10.0")
}

record(ao, "IRFEL:PS:$(COR):current:ao") {
  field(VAL , "0.0")
  field(DRVL, "-10.0")
  field(DRVH, "10.0")
}

